<!DOCTYPE html>
    <html lang="en-us">
    <head>
      <meta charset="utf-8">
      <title>Ticker Request Form</title>
      <style>
        form {
          width: 420px;
        }

        div {
          margin-bottom: 20px;
        }

        label {
          display: inline-block;
          width: 240px;
          text-align: right;
          padding-right: 10px;
        }

        button, input {
          float: right;
        }
      </style>
    </head>
    <body>

      <form method="post" action="{{ url_for('sent') }}">
        <div>
          <label for="content">What do you want the sign to say?</label>
          <input name="content" id="content" value="Hello world!">
        </div>

        <br>

        <div>
          <button>Send it!</button>
        </div>
      </form>

    </body>
  </html>
